{% extends 'base.html' %} {% block title %}Movie Ratings Home{% endblock %} {%
block body %}
<div id="headDiv">
  <h1>Welcome to Rook's Movie Review Site!</h1>
  <h2>Navigation</h2>
  <ul id="homeUl">
    <li id="homeLi"><a href="/movies" id="font1">View all movies</a></li>
    <li id="homeLi"><a href="/users" id="font1">View all users</a></li>
  </ul>
</div>
<div id="homeDiv">
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>Email <input type="text" name="email" /></p>

    <p>Password <input type="password" name="password" /></p>

    <p>
      <input type="submit" />
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>Email <input type="text" name="email" /></p>

    <p>Password <input type="password" name="password" /></p>

    <p>
      <input type="submit" />
    </p>
  </form>
</div>
{% endblock %}
